<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
		function login() {
			/*
			 * Podria usarse $.post
			 */
			$.ajax({
		    	url: '/login/login', // url del recurso
			    type: "post", // podría ser get, post, put o delete.
			    data: { "username": $("#username").val(), "password": $("#password").val() }, // datos a pasar al servidor, en caso de necesitarlo
		    	success: function (response) {
		    		console.log(response);
		    		alert(response.message);
		    		$(location).attr("href", "/login");
		        	return;
		    	},
		    	statusCode: {
		    		404: function() {
		    			$("#result").html("ERROR AL INICIAR SESION.");
		    			return;
		    		},
		    		403: function() {
		    			$("#result").html("ACCESO RESTRINGIDO.");
		    			return;
		    		}
		    	}
			});
		}

		$(document).on("ready", function() {
			$("form").on("submit", function(event) {
				event.preventDefault();
				login();
			});
		});
	</script>
</head>
<body>
	<h1>Bienvenido, inicie sesión</h1>
	<p>
		<form action="#" method="post">
			<input type="text" name="username" id="username" />
			<input type="password" name="password" id="password" />
			<input type="submit" id="submit" value="Iniciar sesión">
		</form>
	</p>
	<p id="result"></p>
</body>
</html>