body
    background url(images/bg3.gif)
    font-family 'Ubuntu', sans-serif
    font-size 11pt
    font-weight 300
    text-align center

html
body
    height 100%
    margin 0
    padding 0

#wrapper
    min-height 100%
    position relative

#cabecera
    height 150px
    margin 0 auto
    width 1024px

#nav-top
    background url(images/noise-grey.jpg)
    color #fefefe
    height 30px
    width 100%
    .top-menu
        line-height 30px
        margin 0 auto
        text-align right
        width 1024px
        ul
            list-style-type none
            margin 0
            padding 0
            li
                display inline-block
                font-family 'Hammersmith One', sans serif
                font-size 11pt
                padding 0 10px
                a
                    color #fefefe
                    text-decoration none
                    &:hover
                        text-decoration underline

#cabecera-top
    background url(images/superior.png) no-repeat
    height 99px
    width 1024px
    .logo
        background url(images/logo.png) no-repeat
        float left
        height 75px
        margin-top 12.5px
        width 292px
    .banner-top
        float right
        height 80px
        margin-top 10px
        width 450px

#nav-menu
    background url(images/noise-grey.jpg)
    -webkit-border-bottom-left-radius 5px
    -moz-border-bottom-left-radius 5px
    border-bottom-left-radius 5px
    -webkit-border-bottom-right-radius 5px
    -moz-border-bottom-right-radius 5px
    border-bottom-right-radius 5px
    height 45px
    line-height 45px
    text-align left
    width 1024px
    ul
        list-style-type none
        margin 0
        padding 0
        li
            display inline-block
            font-family 'Hammersmith One', sans serif
            font-size 12pt
            a
                color #fefefe
                text-decoration none
                padding 0 10px
                &:hover
                    text-decoration underline

#contenido
    clear both
    display inline-table
    margin 0 auto
    padding-bottom 50px
    padding-top 5px
    text-align left
    width 1024px
    .panel-centro
        float left
        padding-right 10px
        width 790px
    .panel-banner
        float right
        width 224px
    .titulo-bloque
        color #df010e
        font-weight bold
    .subtitulo-bloque
        color #df010e
        font-weight bold
    .info-copropiedad
        background url(images/project_paper.png)
        border 1px solid #cccccc
        padding 10px
    .ultimas-noticias
        display inline-block
        background url(images/project_paper.png)
        border 1px solid #cccccc
        padding 10px
        width 768px
    .novedades
        background url(images/project_paper.png)
        border 1px solid #cccccc
        padding 10px
        text-align center

#pie
    background url(images/noise-grey.jpg)
    -webkit-border-top-left-radius 5px
    -webkit-border-top-right-radius 5px
    -moz-border-top-left-radius 5px
    -moz-border-top-right-radius 5px
    border-top-left-radius 5px
    border-top-right-radius 5px
    bottom 0
    color #fefefe
    height 50px
    left 50%
    line-height 50px
    margin-left -512px
    position absolute
    width 1024px
    a
        color #e6b800
        &:hover
        text-decoration none

.tabla-noticia
    height 185px
    margin 0
    padding 0
    width 770px

.tabla-noticia-sep-td
    width 5px

.tabla-noticas-sep-td-h
    height 3px
    width 770px

.tabla-noticia-titulo
    background url(images/noise-grey.jpg)
    -webkit-border-radius 5px
    -moz-border-radius 5px
    border-radius 5px
    bottom 0
    color #fefefe
    font-weight bold
    height 25px
    padding-left 5px
    text-align left
    width 367px

.tabla-noticia-imagen
    height 120px
    text-align left
    vertical-align top
    width 120px

.tabla-noticia-contenido
    height 120px
    text-align left
    vertical-align top
    width 240px

.tabla-noticia-fecha
    color #333333
    font-size 10pt
    height 20px
    text-align left
    width 120px

.tabla-noticia-leer-mas
    height 20px
    padding-right 5px
    text-align right
    width 240px
    a
        color #df010e
        &:hover
        text-decoration none